#addition {
    background-color: crimson;
    padding: 5vh 0 5vh 35vw;
}

#subtract {
    background-color: aqua;
    padding: 5vh 0 5vh 35vw;
    
    
}

#multiply {
    background-color:rebeccapurple;
    padding: 5vh 0 5vh 35vw;
}